.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__mZksp {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  padding: 0px;
}
.freeBox__a0MRa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: none;
}
.freeBox__a0MRa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__a0MRa > :global(.__wab_flex-container) > *,
.freeBox__a0MRa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a0MRa > :global(.__wab_flex-container) > picture > img,
.freeBox__a0MRa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox___4XzTp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__mlzIh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/beverage_products/images/image11.png") top 0% left 50% / contain no-repeat,
    var(--token-YpGARJvtLwkZ-m);
  overflow: hidden;
  align-self: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 0;
  padding: 113px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mlzIh {
    padding-top: 105px;
  }
}
.freeBox__cdAqo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__qRrSz {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 650px;
  min-width: 0;
  padding: 4px 8px 8px;
}
.freeBox__qRrSz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__qRrSz > :global(.__wab_flex-container) > *,
.freeBox__qRrSz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qRrSz > :global(.__wab_flex-container) > picture > img,
.freeBox__qRrSz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qRrSz {
    padding-top: 0px;
  }
}
.freeBox___1Ekur {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 471px;
  text-align: center;
  min-width: 0;
  padding: 1px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    width: auto;
    font-size: 40px;
    padding: 0px;
  }
}
.freeBox___3RKwb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__qz2Wt {
  width: 100%;
  height: auto;
  max-width: 530px;
  padding-bottom: 0px;
  color: var(--token-4AB_1aJgNRxXc6);
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qz2Wt {
    text-align: left;
    padding-bottom: 13px;
    padding-top: 5px;
  }
}
.button__oIcJ9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__plk29 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zhJ9F {
  text-transform: uppercase;
}
.svg__ekb7C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img___1BkPx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 900px;
  width: 100%;
  object-position: 50% 0%;
  min-width: 0;
}
.img___1BkPx > picture > img {
  object-fit: cover;
  object-position: 50% 0%;
}
.img___1BkPx > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 50% 0%;
}
.freeBox__jcke4 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-Q3oyKzsEpT9guK);
}
.freeBox__jcke4 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jcke4 > :global(.__wab_flex-container) > *,
.freeBox__jcke4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jcke4 > :global(.__wab_flex-container) > picture > img,
.freeBox__jcke4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.freeBox__tsa2X {
  position: relative;
  object-fit: cover;
  max-width: none;
  background: url("/plasmic/beverage_products/images/ecaa1A9F59E04714Aca4D68090E95Ef2FuelBgPngpng.png") top 50% left 50% / cover no-repeat;
  width: 107.5%;
}
.freeBox__cyIkt {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__zKZfL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f1d1e4;
  min-width: 0;
  padding: 100px 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 471px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    width: auto;
    font-size: 40px;
    padding: 0px;
  }
}
.text__ih80 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4AB_1aJgNRxXc6);
  font-size: 20px;
  margin-top: 18px;
  min-width: 0;
}
.freeBox___8L2Nz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #feb392;
  min-width: 0;
  padding: 0px;
}
.columns {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__k5JQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: var(--token-YpGARJvtLwkZ-m);
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__bdkEt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__xxkdd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__xxkdd > picture > img {
  object-fit: cover;
}
.img__xxkdd > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yYQsw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__ij21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__ij21 {
    text-align: center;
  }
}
.text___9B2VI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9B2VI {
    text-align: center;
  }
}
.button__pb65:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lkJJs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nRbk8 {
  text-transform: uppercase;
}
.svg__znxVg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__unXxp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #baecff;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__zPIrv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__rkxZu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__rkxZu > picture > img {
  object-fit: cover;
}
.img__rkxZu > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__hxmzo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__akqVr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__akqVr {
    text-align: center;
  }
}
.text__lWoo0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lWoo0 {
    text-align: center;
  }
}
.button__aWbOj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ywhzb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___8GB6M {
  text-transform: uppercase;
}
.svg__hzB7K {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___5QtF9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #c9f2c4;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__dgaz8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img__jmXb2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__jmXb2 > picture > img {
  object-fit: cover;
}
.img__jmXb2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ykRyb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__eBoa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__eBoa {
    text-align: center;
  }
}
.text__ixvWq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ixvWq {
    text-align: center;
  }
}
.button__jvrNx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1CYPd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__aSP {
  text-transform: uppercase;
}
.svg___3VsM4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__el5Mg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #fdcfbf;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__q0YLk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img___4F867 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 158px;
}
.img___4F867 > picture > img {
  object-fit: cover;
}
.img___4F867 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__x4FN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px;
}
.h3__icUka {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__icUka {
    text-align: center;
  }
}
.text__yn2EJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yn2EJ {
    text-align: center;
  }
}
.button__wRw66:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5GQeE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__y47U {
  text-transform: uppercase;
}
.svg__oBrdy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__qIyIw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__tLmwJ {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #b367bf;
  width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 103px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tLmwJ {
    width: 100%;
    min-width: 0;
    padding: 61px 32px 64px;
  }
}
.freeBox__fjNhs {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.freeBox__fjNhs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fjNhs > :global(.__wab_flex-container) > *,
.freeBox__fjNhs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fjNhs > :global(.__wab_flex-container) > picture > img,
.freeBox__fjNhs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fjNhs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fjNhs > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fjNhs > :global(.__wab_flex-container) > *,
  .freeBox__fjNhs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fjNhs > :global(.__wab_flex-container) > picture > img,
  .freeBox__fjNhs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__ujyRt {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 0px;
  padding: 24px;
}
.freeBox__ujyRt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ujyRt > :global(.__wab_flex-container) > *,
.freeBox__ujyRt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ujyRt > :global(.__wab_flex-container) > picture > img,
.freeBox__ujyRt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__oKywR {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__oKywR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oKywR > :global(.__wab_flex-container) > *,
.freeBox__oKywR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oKywR > :global(.__wab_flex-container) > picture > img,
.freeBox__oKywR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uJYW {
  color: var(--token-xEop-ve9-li50e);
  font-style: italic;
}
.freeBox__x9Btw {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__x9Btw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__x9Btw > :global(.__wab_flex-container) > *,
.freeBox__x9Btw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x9Btw > :global(.__wab_flex-container) > picture > img,
.freeBox__x9Btw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__a8Ysp {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__ynRxC {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__teo9F {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__pVfrX {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__uDcyU {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___4KbS9 {
  color: var(--token-xEop-ve9-li50e);
  font-weight: 700;
}
.freeBox__wrzO {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 0px;
  padding: 24px;
}
.freeBox__wrzO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wrzO > :global(.__wab_flex-container) > *,
.freeBox__wrzO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wrzO > :global(.__wab_flex-container) > picture > img,
.freeBox__wrzO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__uVrmX {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__uVrmX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uVrmX > :global(.__wab_flex-container) > *,
.freeBox__uVrmX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uVrmX > :global(.__wab_flex-container) > picture > img,
.freeBox__uVrmX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__g3Ina {
  color: var(--token-xEop-ve9-li50e);
  font-style: italic;
}
.freeBox___6A9PR {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6A9PR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___6A9PR > :global(.__wab_flex-container) > *,
.freeBox___6A9PR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6A9PR > :global(.__wab_flex-container) > picture > img,
.freeBox___6A9PR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__ev1W {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__m0VaA {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__hVc8Q {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__p3A8U {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__zMar4 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__en5M {
  color: var(--token-xEop-ve9-li50e);
  font-weight: 700;
}
.footer:global(.__wab_instance) {
  position: relative;
}
